$dark-blue: #132043;
$navy-blue: #1F4172;
$pink: #F1B4BB;
$peach: #FDF0F0;
$white: #FFFFFF;
$black: #000000;

// Colors
$primary-color: $black;
$secondary-color: $dark-blue;
$primary-font-color: $white;
$secondary-font-color: $black;

// Fonts
$font-family-sans-serif: 'Arial', sans-serif;
$font-family-serif: 'Times New Roman', serif;
